 {% extends "base.html" %}
    {% block content %}

        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><span class="text-warning">Project</span>1</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page1')}}">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page2')}}">Docker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page3')}}">Python/Flask</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page4')}}">Continuous Integration and Deployment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page5')}}">AAA Testing Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page6')}}">Calculator Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page7')}}">OOP Glossary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page8')}}">SOLID</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        <h1>OOP Glossary:</h1>

        <ul>
            <li>Instantiation- the creation of a object of a given class</li>
            <li>object- The units of code that are finally created from the process.</li>
        <li>class- is a blueprint for creating objects ,
        providing initial values for state , and implementations of behavior.</li>
            <li>namespace- a declarative region that provides a scope to the identifiers inside it.</li>
            <li>constructor- is a special method of a class or structure in object-oriented programming that initializes a newly created object of that type.</li>
        <li>fixture- It is sample data. They allow you to populate your testing database with predefined data before your tests run.
            type hint- providing hints to function to only accept the given data type.</li>
        <li>type cast- a way of changing an object from one data type to the next. It is used in computer programming to ensure a function
            handles the variables correctly.</li>
            <li>unit test-  Unit testing aims to ensure that each individual part of a program works correct in isolation.</li>
            <li>static- a member variable of a given class which is shared across all instances (objects),
                and is accessible as a member variable of these objects.</li>
            <li>instance method- a method that belongs to instances of a class, not to the class itself.</li>
            <li>instance property- a Python variable belonging to one, and only one, object.</li>
            <li>static method- a part of a class definition, but is not part of the objects it creates.</li>
            <li>static property- are accessed using the Scope Resolution Operator ( :: ) and cannot be accessed through the object operator ( -> ).</li>
            <li>encapsulation- binding the data and functions which operate on that data into a single unit, the class.</li>
        <li>inheritance-if a class inherits from another class, it automatically obtains a lot of the same
            functionality and properties from that class and can be extended to contain separate code and data.</li>
            <li>polymorphism- polymorphism allows for the uniform treatment of classes in a hierarchy.</li>
        <li>abstraction-abstracting away the gory implementation details of a class and only presenting a clean
            and easy-to-use interface via the class’ member functions.</li>
        </ul>


        </p>

        <p><h1>Overview of SOLID:</h1>SOLID is an acronym that stands for five principles that assist software engineers create manageable and adaptable classes.
        It is an acronym that stands for Single responsibility, Open-closed, Liskov substitution, Interface segregation, and Dependency inversion.

        <br><br><h1>Single Responsibility principle:</h1> A class should have one, and only one, reason to change.


        <br><h2>Example:</h2> A ScoreCounter class is only responsible for counting the score of a game according to the scoring rules.
        This class should only change if the scoring rules change.

        <br><br><h1>Open Closed principle:</h1> You should be able to extend a classes behavior, without modifying it.


        <br><h2>Example:</h2> you use an external library which contains a class Car. The Car has a method brake. In its base implementation,
        this method only slows down the car but you also want to turn on the brake lights. You would create a subclass of Car and override
        the method brake. After calling the original method of the super class, you can call your own turnOnBrakeLights method.
        This way you have extended the Car‘s behavior without touching the original class from the library.

        <br><br><h1>Liskov Substitution Principle:</h1> Derived classes must be substitutable for their base classes.


        <br><h2>Example:</h2> You have an instance of the class Car which your program uses to perform a drive action.
        This instance could be replaced by an instance of the class Tesla if Tesla is a subclass of Car.


        <br><br><h1>Interface Segregation Principle :</h1> Make fine grained interfaces that are client specific.


        <br><h2>Example:</h2> In an adventure game, you have a class for your main character. The player can either be a warrior or an
        archer or a wizard. Instead of a class which can perform all the actions, like strike, shoot and heal, you would create three
        different classes, one for each character type. In the end, you would not only have a Character class but also a Warrior, an Archer
        and a Wizard, all inheriting from Character and implementing their specific actions.


        <br><br><h1>Dependency Inversion Principle:</h1> Depend on abstractions, not on concretions.


        <br><h2>Example:</h2> A ScoreCounter class is only responsible for counting the score of a game according to the scoring rules.
        This class should only change if the scoring rules change.Imagine we have a class Distributer which is able to share a blog post on
        different platforms. According to the Interface Segregation Principle the distributer uses a composition of several instances, like a
        TwitterShareAction and a FacebookShareAction. Now the goal of the Dependency Inversion Principle is to not depend on concrete methods
        of the share action classes, like sharePostOnTwitter and sharePostOnFacebook. Instead the Distributer class would define an interface
        called Sharing which is implemented by TwitterShareAction and FacebookShareAction. It declares the abstract method sharePost.
        The Distributer class doesn’t have to know the details of the concrete share actions. It just calls the sharePost method.

        </p>
    </div>
    <div class="col-sm">
       <img src="{{ url_for('static', filename='images/img_2.png') }}" class="col-md-12 float-md-end mb-3 ms-md-3" alt="...">
    </div>
  </div>
</div>


    {% endblock %}




      <p>
        <h1>Git Merging:</h1>When you use the Squash and merge option on a GitHub.com pull request,
        the commits in the pull request are squished into a single commit.
            Instead of viewing all of a contributor's individual commits from a subject branch,
            the commits are merged into the default branch as one commit.
      </p>

        <p>
        <h1>Git Merging: How to merge commits in Git</h1>

    <ul>
      <li>Step 1: git rebase -i master (instead of master you can also use a specific commit)</li>
      <li>Step 2: Change 'pick' to 'squash' for last committed changes.
          something like shown below. Doing that so, your last 2 commits will be merged with the first one.</li>
      <li>Step 3: save the editor with the following command. :wq</li>
    </ul>
      </p>

      <p>
        <h1>Git Commit:</h1>These commits are snapshots of your whole repository taken at certain periods.
            You should create new commits often, depending on logical units of change. Over time, commits should explain the tale of your
            repository's history and how it got to be the way it is now. Commits include a lot of metadata in addition to the contents and message,
            such as the author, timestamp, and so on. You can use git add. and git commit to add commit changes you make to git. git add: takes a
            modified file in your working directory and places the modified version in a staging area. git commit:  takes everything from the staging
            area and makes a permanent snapshot of the current state of your repository that is associated with a unique identifier.
      </p>

    <p>
        <h1>How to use Git commit:</h1>
    <ul>
      <li>Step 1:Sign in to your user account on GitHub.</li>
      <li>Step 2: In the upper right corner, click the + sign icon, then choose New repository.
          This will take you to a page where you can enter a repository name,
          description, and choose to initialize with a README file.</li>
      <li>Step 3: Create a file</li>
      <li>Step 4: Make a commit with following code: git commit -m "first commit"</li>
      <li>Step 5: Connect github repository to computer</li>
    </ul>
      </p>


    <p>
        <h1>Git Repositories:</h1>GitHub is a code hosting platform for version control and collaboration.
            It allows you and others to collaborate on projects from anywhere.
            This course teaches you the fundamentals of GitHub, such as repositories, branches, commits, and pull requests..
      </p>

        <p>
        <h1>Git Repositories:How to create a Git repositiory</h1>
        <li>Step 1:Sign in to your user account on GitHub.</li>
      <li>Step 2: In the upper right corner, click the + sign icon, then choose New repository.
          This will take you to a page where you can enter a repository name,
          description, and choose to initialize with a README file.</li>
      <li>Step 3: Select create repository, and you will be taken to your new repository web page.</li>

        <p>
        <h1>Git Tags:</h1> Tags in Git are the reference points in the Git history that denotes special events.
        It is not a rule to tag the releases. You can tag any commit for any purpose you want.
        In addition to that, no matter how much time we spend on the project,
        any new member can look at the git log and identify unique points in the project's timeline through Git.
        Tags help in identifying different commits that are important enough to be recognized or be noticed.
      </p>

        <p>
        <h1>Git Tags: How to add Tags in Git</h1>
    <ul>
      <li>Step 1: Open Git Bash in the working directory.</li>
      <li>Step 2: Check if you have a clean working directory.</li>
      <li>Step 3: Execute this command: git log --oneline</li>
      <li>Step 4: Tag the following commit to your dev branch: git tag ongoing dev</li>
      <li>Step 5: To verify tag creation, executing the following command: git log --oneline</li>
    </ul>
      </p>
    </div>





    {% endblock %}