<div class="container">
  <div class="row">
    <div class="col-sm">
        <p>

        <h1>The Calculator Program in Python</h1><br><br>

        <h2>What it is:</h2>A simple calculator that can add, subtract, multiply or divide depending upon the input from the user.<br><br>

        <h2>How it demonstrates SOLID:</h2>To make your calculator, you'll need various mathematical operators, conditional statements
        functions and handle user input so it can run efficiently and smooth. The different operators are the process for your output. The process slightly
        resembles the procedure of SOLID principles. For example, the 'Single Responsibility principle' in SOLID is
        "a class should have one, and only one reason to change",which entirely means that every class has one responsibility and any change
        that is made will only alter or effect a certain aspect of the software or technology.<br><br>

        However,a conditional statement is a decision-making process in a programming language is automated using conditional statements,
        in which Python evaluates the code to see if it meets the specified conditions. The conditions are evaluated and processed as true or false.
        If this is found to be true, the program is run as needed. Now compare the 'Single Responsibility principle' to a conditional statement
        you obviously can see they both have terms that must be met for certain outcomes.<br><br>

        In Summary, the SOLID principles are guidelines that can help you create maintainable and extendable classes and systems. And a conditional
        statements is minimal and concise method for an organized code.


        </p>
    </div>
    <div class="col-sm">
       <img src="{{ url_for('static', filename='images/img_3.png') }}" class="col-md-12 float-md-end mb-3 ms-md-3" alt="...">
    </div>
  </div>
</div>


    {% endblock %}