{% extends "base.html" %}
{% block content %}


	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><span class="text-warning">Project</span>1</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('simple_pages.show', page='page1')}}">GitHub</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('simple_pages.show', page='page2')}}">Docker</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('simple_pages.show', page='page3')}}">Python/Flask</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('simple_pages.show', page='page4')}}">Continuous Integration and Deployment</a>
					</li>
                    <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page5')}}">AAA Testing Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page6')}}">Calculator Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page7')}}">OOP Glossary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page8')}}">SOLID</a>
                        </li>
				</ul>
			</div>
		</div>
	</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <p>
    <h1> Docker Containers:</h1>Docker Containerization includes all dependencies (frameworks, libraries, etc)
    required to run an application in an efficient and bug free manner. With Docker containers, applications can work efficiently in different
    computer environments. The benefits of Docker container show up in various places. Since the Docker container is lightweight, it can be easily deplpoyed
    and executed on other computer environments regardless of the host operated system of configurations. Containers take up less disk space and are relatively
    faster in executing applications. Containers run applications in isolation and share the operation system kernel with other containers.
  </p>

    <p>
    <h1>Docker:How to build and run an image as a container</h1>
<ul>
  <li>Step 1: Open Git Bash and run the following command:  docker run -d -p 80:80 docker/your-image</li>
  <li>Step 2: Open your Docker Dashboard and you should see the container you created running!</li>

</ul>
  </p>



    <p>
    <h1>Docker images:</h1>A Docker image is made up of a collection of files that bundle together all the essentials –
    such as installations, application code, and dependencies – required to configure a fully operational container environment.
    You can create a docker image with two different methods.

    <ul>
  <li>Interactive: By running a container from an existing Docker image, manually changing that container environment through a series of live steps,
      and saving the resulting state as a new image.</li>
  <li>Dockerfile: By constructing a plain-text file, known as a Dockerfile, which provides the specifications for creating a Docker image.</li>

</ul>



  </p>

  <p>
    <h1>Docker commands:</h1>
<ul>
  <li>docker-version:This command is used to get the currently installed version of docker</li>
  <li>docker pull: This command is used to pull images from the docker repository(hub.docker.com)</li>
  <li>docker run -it -d <image name>: This command is used to create a container from an image</li>
  <li>docker ps: This command is used to list the running containers</li>
    <li>docker ps-a: This command is used to show all the running and exited containers</li>
  <li> docker exec -it <container id> <bash></bash>: This command is used to access the running container</li>
    <li>docker compose up --build: This command aggregates the output of each container </li>
</ul>
  </p>

<p>
    <h1>Step by Step, How to start the project via Terminal: </h1>To start project via terminal with terminal
    commands without pycharm you'll utilize docker compose up --build. The docker-compose up command aggregates the output of each container.
    When the command exits, all containers are stopped.
  </p>


    </div>
    <div class="col-sm">
     <img src="{{ url_for('static', filename='images/docker1.png') }}" class="col-md-12 float-md-end mb-3 ms-md-3" alt="...">
    </div>
  </div>
</div>


{% endblock %}